*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Build directories
**/build/
**/build/*
**/.transforms/
**/kspCaches/
**/tmp/
**/generated/
**/intermediates/

# Android Studio
.idea/
*.iml

# Kotlin
.kotlin/

# VSCode
.vscode/
